:root {
    --primary-color: #263238;
    --primary-dark: #333;
    --secondary-color: #37474F;
  }

html{
    background-color: var(--primary-color);
}

.pressed-img{
    width: 90%;
    height: 90%;
    display: block;
    justify-content: center;
    padding: 5%;

}
#board{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--primary-dark);
    padding: 0;
}

.plate{
    width: 194px;
    height: 194px;
    border-style: solid;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
}

.plate:hover{
    transform: scale(1.01);
}

.plate:active{
    transform: scale(0.95);
}